In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\SRI RENUKA COMPUTERS\Downloads\uber_rides_data.xlsx")

In [4]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

# Shape of the given dataset

In [5]:
df.shape

(200000, 8)

# No. of integer columns - 2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

# No. of Missing values in 'dropoff_longitude'

In [7]:
df['dropoff_longitude'].isnull().sum()

1

# DataType of 'pickup_datetime'

In [11]:
df['pickup_datetime'].dtype

dtype('O')

# syntax to convert to datetime datatype

In [21]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# Function to drop null values

In [15]:
df.dropna(inplace = True)

# Avg fare amount

In [18]:
df['fare_amount'].mean()

11.359891549458371

# Distance b/w each pickup and dropoff points

In [24]:
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2) ** 2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371
    return c * r

In [26]:
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

df['haversine_distance'].median()

2.120992396182902

# Maximum haversine distance between pickup and dropoff

In [27]:
df['haversine_distance'].max()

16409.239135313168

# No. of rides having haversine distance is 0

In [34]:
(df['haversine_distance'] == 0).sum()

5632

# Mean of 'fare amount' for rides with 0 haversine distance

In [36]:
df[df['haversine_distance'] == 0]['fare_amount'].mean()

11.585317826704578

In [95]:
df[df['haversine_distance'] == 0]

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,ride_week_day_Monday,ride_week_day_Tuesday,ride_week_day_Wednesday,ride_week_day_Thursday,ride_week_day_Friday,ride_week_day_Saturday,ride_week_day_Sunday
5,44470845,4.9,2011-02-12 02:27:09+00:00,-73.969019,40.755910,-73.969019,40.755910,1,0.0,0,0,0,0,0,1,0
7,44195482,2.5,2012-12-11 13:52:00+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0,0,1,0,0,0,0,0
11,6379048,8.5,2011-05-23 22:15:00+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0,1,0,0,0,0,0,0
48,22405517,56.8,2013-01-03 22:24:41+00:00,-73.993498,40.764686,-73.993498,40.764686,1,0.0,0,0,0,1,0,0,0
65,21993993,6.0,2014-05-05 19:27:00+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199880,35013970,6.5,2014-02-22 06:45:46+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0,0,0,0,0,0,1,0
199883,44115598,12.5,2012-09-10 17:39:00+00:00,0.000000,0.000000,0.000000,0.000000,2,0.0,1,0,0,0,0,0,0
199917,45368488,4.5,2013-06-24 22:17:43+00:00,-73.793768,40.656939,-73.793768,40.656939,1,0.0,1,0,0,0,0,0,0
199932,46517645,24.9,2011-03-22 13:59:00+00:00,-73.974618,40.756295,-73.974618,40.756295,5,0.0,0,1,0,0,0,0,0
199963,50075618,39.0,2012-09-22 07:46:01+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0,0,0,0,0,0,1,0

Here we can sense something fishy

The rides with haversine distance is zero contains the same location(latitude,longitude) for pickup and dropoff.
Here we can assume that the ride is happen in the same location with negligible distance

And also rides with haversine distance is zero does not contain the apporiate pickup and dropoff location(latitude,longitude)

# Maximum Fare amount

In [20]:
df['fare_amount'].max()

499.0

In [23]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5

# Haversine Distance for costliest ride

In [40]:
df[df['fare_amount'] == df['fare_amount'].max()]['haversine_distance']

170081    0.00079
Name: haversine_distance, dtype: float64

In [96]:
df[df['fare_amount'] == df['fare_amount'].max()]

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,ride_week_day_Monday,ride_week_day_Tuesday,ride_week_day_Wednesday,ride_week_day_Thursday,ride_week_day_Friday,ride_week_day_Saturday,ride_week_day_Sunday
170081,51151143,499.0,2011-04-10 04:10:00+00:00,-73.968377,40.764602,-73.968368,40.7646,1,0.00079,0,0,0,0,0,0,1

Suspicion of something fishy in the data is a high fare amount for an extremely short ride is indeed unusual and could be  of data quality issues or anomalies.We can observe the that pickup and dropoff locations are same which is data quality issues

# No. of rides recorded in the year 2014

In [46]:
df[(df['pickup_datetime'].dt.year == 2014)].shape[0]

29968

# No. of rides recorded in the first quater of  2014

In [57]:
rides_2014 = df[(df['pickup_datetime'].dt.year == 2014)]

In [58]:
rides_2014[rides_2014['pickup_datetime'].dt.quarter == 1].shape[0]

7687

# Day of week in sep 2010 maximum rides were recored

In [67]:
rides_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

In [86]:
dayofweek_counts = rides_2010['pickup_datetime'].dt.dayofweek.value_counts(ascending = False)

In [88]:
max_rides_day = dayofweek_counts.idxmax()

weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

weekdays[max_rides_day]

'Thursday'

In [89]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,4.475450

# Machine Learning Algorithm to predict the fare amount

In [90]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

df['ride_week_day'] = df['pickup_datetime'].dt.dayofweek


df = pd.get_dummies(df, columns=['ride_week_day'])

KeyError: "['distance', 'ride_week_day_Friday', 'ride_week_day_Monday', 'ride_week_day_Saturday', 'ride_week_day_Sunday', 'ride_week_day_Thursday', 'ride_week_day_Tuesday', 'ride_week_day_Wednesday'] not in index"

In [93]:
df.rename(columns={
    'ride_week_day_0': 'ride_week_day_Monday',
    'ride_week_day_1': 'ride_week_day_Tuesday',
    'ride_week_day_2': 'ride_week_day_Wednesday',
    'ride_week_day_3': 'ride_week_day_Thursday',
    'ride_week_day_4': 'ride_week_day_Friday',
    'ride_week_day_5': 'ride_week_day_Saturday',
    'ride_week_day_6': 'ride_week_day_Sunday'
}, inplace=True)

In [94]:
X = df[['passenger_count', 'haversine_distance', 'ride_week_day_Friday', 'ride_week_day_Monday',
        'ride_week_day_Saturday', 'ride_week_day_Sunday', 'ride_week_day_Thursday',
        'ride_week_day_Tuesday', 'ride_week_day_Wednesday']]
y = df['fare_amount']



# Split the data into a training set (70%) and a testing set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)



# regression models
linear_reg = LinearRegression()
decision_tree_reg = DecisionTreeRegressor()
random_forest_reg = RandomForestRegressor()


r2_scores = []


for model in [linear_reg, decision_tree_reg, random_forest_reg]:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    num_features = X.shape[1]
    n = len(y_test)
    adjusted_r2 = 1 - ((1 - r2) * (n - 1) / (n - num_features - 1))
    r2_scores.append(adjusted_r2)

    
models = ['Linear Regression', 'Decision Tree', 'Random Forest']
min_adj_r2 = min(r2_scores)
worst_model = models[r2_scores.index(min_adj_r2)]


for i in range(len(models)):
    print(f'{models[i]} - Adjusted R-squared: {r2_scores[i]:.4f}')

print(f'The algorithm with the least adjusted R-squared value is {worst_model} with an adjusted R-squared of {min_adj_r2:.4f}')

Linear Regression - Adjusted R-squared: 0.0006
Decision Tree - Adjusted R-squared: 0.4764
Random Forest - Adjusted R-squared: 0.6295
The algorithm with the least adjusted R-squared value is Linear Regression with an adjusted R-squared of 0.0006